@page "/dataentry"
<PageTitle>Data Entry</PageTitle>
@rendermode InteractiveServer

@* 
    To reference our class library we need to add a @using statement
    Remember to add a project reference as well!
*@

@using OOPLibrary

<h3>Data Entry - Employment</h3>

@*
    feedback area
        success messages and error messages
*@

<!--Success Area-->
@if(feedback.Length > 0)
{
    <div class="alert alert-info">
        <p>@feedback</p>
    </div>
}

<!--Error Area-->
@if(errorMsgs.Count > 0)
{
    <div class="alert alert-danger">
        <p>Please fix the following issues:</p>
        <ul>
            @foreach(var error in errorMsgs)
            {
                <li>@error</li>
            }
        </ul>
    </div>
}

@* 
    form area
    standard html controls
    using bootstrap for formatting
    each control will be on a separate row
*@
<fieldset>
    <legend>Employment Data</legend>
    <div class="row g-3">
        <div class="col">
            <div class="form-floating">
                <select class="form-select" id="Employee" @bind="employee">
                    @foreach (var item in employees)
                    {
                        <option value="@item">@item</option>
                    }
                </select>
                <label for="employmentLevel" class="form-label">Employee</label>
            </div>
        </div>
    </div>
    <div class="row g-3">
        <div class="col ">
            <div class="form-floating mb-2">
                <input type="text" class="form-control" id="employmentTitle" @bind="empTitle">
                <label for="employmentTitle">Position Title</label>
            </div>
        </div>
        <div class="col">
            <div class="form-floating mb-2">
                <input type="date" class="form-control" id="employmentDate" @bind="empStartDate" />
                <label for="employmentDate">Start Date</label>
            </div>
        </div>
    </div>
    <div class="row g-3">
        <div class="col">
            <div class="form-floating">
                <select class="form-select" id="employmentLevel" @bind="empLevel">
                    @* 
                        Allows us to interate over the Enum values instead of hardcoding the values a second time.
                        If the enum changes, the select options automatically are updated.
                    *@
                    @foreach (var item in Enum.GetValues(typeof(SupervisoryLevel)))
                    {
                        <option value="@item">@item</option>
                    }
                </select>
                <label for="employmentLevel" class="form-label">Supervisory Level</label>
            </div>
        </div>
        <div class="col">
            <div class="form-floating mb-2">
                <input type="number" class="form-control" id="employmentYears" @bind="empYears" step="0.5">
                <label for="employmentYears">Years in Position</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <button type="submit" class="btn btn-primary rounded-pill"
                    @onclick="OnCollect">
                Submit Employment    
            </button>
        </div>
        <div class="col text-center">
            <button class="btn btn-warning rounded-pill"
                    @onclick="ClearForm">
                Clear Form
            </button>
        </div>
        <div class="col text-center">
            <button class="btn btn-warning rounded-pill">
                <a href="employmentreport">Report Via Link</a>
            </button>
        </div>
        <div class="col text-center">
            <button class="btn btn-warning rounded-pill"
                @onclick="GoToReport">
                Report Via Method
            </button>
        </div>
    </div>
</fieldset>